__pycache__/
*.pyc
*.pyo

allure-results/
allure-report/

*.exe
*.dll
*.so
*.dylib

csghub-lite.zip
llama-bin/
llama-bin.zip

csghub-data/
csghub-data-dir/

_debug*.py
_fix*.py
_download*.py
_download*.ps1
_prepare*.py
_setup*.py
_test*.py
test_debug*.py

report.html
*.log
.DS_Store
